*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body{
    font-family: 'DM Serif Display', serif;
    font-family: 'Karla', sans-serif;
}

a{
    text-decoration: none;
    color: hsl(273, 4%, 51%);
}
#navbar{
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
    padding: 15px;
    position: fixed;
    z-index: 2;
    width: 100%;
}
#title{
    margin-right: 200PX;
    font-size: 1.4REM;
    font-family: 'DM Serif Display', serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Unbounded', cursive;
}
#navsel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 31px;
    margin-left: 400px;
}
#viewplan{
    background-color: hsl(0, 0%, 98%);
    width: 118px;
    height: 32px;
    font-size: 0.75rem;
    color: hsl(273, 4%, 51%);
    border: 2px solid hsl(273, 4%, 51%);
    
}
#viewplan:hover{
    background-color: hsl(256, 26%, 20%); 
    color: whitesmoke;
    opacity: 80%;
    cursor:pointer ;
    transform: scale(1.06);
    
}
#viewplan2{
   background-color: hsl(256, 26%, 20%); 
   width: 118px;
   height: 32px;
   border: 2px solid whitesmoke;
   color:whitesmoke;
   opacity: 80%;
   margin-top: 8px;
   padding: 5px;
   font-size: 0.7rem;
}
#viewplan2:hover{
    background-color: whitesmoke;
    color: hsl(256, 26%, 20%); 
    transform: scale(1.06);
    opacity: 80%;
    cursor:pointer ;
    
}
#topdiv{
    justify-content: space-between;
    display: flex;
    padding: 7%;
    background-color: hsl(256, 26%, 20%);
    color: whitesmoke;
    height: 50vh;
    padding-top: 10%;
    position: relative;
   
   
}
#middledive{
    margin-top: 95px;
    padding: 15.5%;
    padding-left: 15.5%;
    padding-right: 15%;
    padding-top:1% ;
    
}
#weredifferent{
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 10px;
   
}
#pattern-right{
    position: absolute;
    top:0;
    right: 0;


}
#pattern-left{
    position: absolute;
    top:300px;
    left:0;
}
svg{
    width: auto;
    height: auto;
}


h1{
    margin-left: 50px;
}
#circles{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between ;
    margin-top: 65px;
}
#downdiv{
    display: flex;
    justify-content: space-between;
}
.circ{
    margin-right: 20px;
}
.cicletitle{
    margin-top: 25px;
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.circlecontent{
    color: hsl(270, 9%, 17%);
    opacity: 50%;
}
#bottom-down{
    display: flex;
    justify-content: space-between;
}

li{
    list-style-type: none;
}

ul{
    margin-bottom: 8px;
    font-size: 0.65rem;
}

p{
    margin-bottom: 20px;
    font-size: 0.65rem;
}

.nav-itm{
    margin-right: 15px;
}

.items{
    margin-right: 15px;
}

#humanize , #your-insurance{
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    line-height:0.8;
    margin-bottom: 10px;
    margin-left: 0px;
   
}
#your-insurance{
  
    margin-bottom: 25px; 
   
}
#img_intro{
    width: 60%;
    height: 100%;
    margin-left: 240px;
}
#firstimg{
 height: 145%; 
}
#text{
    width: 40%;
    margin-right: 15px;
    margin-left: 130PX;
}
#underhumanize{
    font-size: 1rem;
    line-height: 19px;
}

.h_line {
    border-bottom: 1px solid white;
    opacity: 50%;
    width: 30%;
    padding: 0;
    margin: 0;
    margin-bottom: 65px;
}
.h_line2 {
    border-bottom: 1.8px solid gray;
    opacity: 70%;
    width: 14%;
    padding: 0;

    margin-bottom: 65px;
}
#downdiv{

    justify-content: space-evenly;
    align-items: center;
    display: flex;
    background-color: hsl(256, 26%, 20%);
    color: whitesmoke; 
    margin: 15.5%;
    margin-top: -100px; 
    height: 185px;
    position: relative;

   
}
#findout{
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    line-height:0.45;
    padding-right: 450px;
   

}
#findoutall{
    padding-top: 22px;
}
#about{
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    line-height:0.45;

}
#Howwework{
    background-color: hsl(256, 26%, 20%); ;
    width: 128px;
    height: 33px;
    border: 2px solid whitesmoke;
    color:whitesmoke;
    opacity: 30%;
    margin-top: 8px;
    padding: 5px;
    font-size: 0.9rem;
    opacity: 85%;
    z-index: 1;

}
#Howwework:hover{
    background-color:whitesmoke;
    color: hsl(256, 26%, 20%); 
    opacity: 80%;
    cursor:pointer ;
    transform: scale(1.06);
    
}
#findoutpattern{
    position: absolute;
    right: 0px;
    top: -50;
    z-index: 1;
    height: 186px;
}
#bottomdiv{
padding: 15.5%;

margin-top: -100px;
background-color: hsl(0, 0%, 98%);
padding-top: 2%;

}
#bottom-top{
display: flex;
justify-content: space-between;
}
#downinsure{
    margin-right: 200PX;
    font-size: 1.4REM;
    font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif;
font-family: 'Unbounded', cursive;

}
.h_line3{
    border-bottom: 1.8px solid hsl(256, 26%, 20%);
    opacity: 10%;
    width: 100%;
    padding: 0;
    margin-bottom: 35px;
}

.downp{
    color:hsl(256, 26%, 20%); 
    opacity: 67%;
    font-size: 0.9rem;
    font-weight: 750;

}
.downlistitem{
    color: hsl(256, 26%, 20%);
    font-size: 0.9rem;
    font-weight: 750;

}
#pattern-left-mobilee,#pattern-right-mobilee,#img-intro-mobile, #findoutpattern-mobilee, #mobilenav{
    visibility: hidden;
    width: 0;
    height: 0;
}
#hambergur, #closebtn{
    width: 0;
    height: 0;
    visibility: hidden;
    margin-left: 0%;
    flex-basis: 0%;
}
@media (max-width:576px) {
    body{
       margin: 0;
       overflow-x: hidden;
    }

    #topdiv{
       
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: hsl(256, 26%, 20%);
        color: whitesmoke;
        position: relative;
        width: 100vw;
        height: 70vh;
        flex-direction:column;
    }
    #img_intro{
        width: 0;
        height: 0;
        
    }
    #firstimg{
        visibility: hidden;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        
    }

    #text{
       
        width: 90vw;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 75px;
        
    }
    #underhumanize{
       text-align: center;
       line-height: 32px;
       font-size: 18px;
    }
    #humanize,#your-insurance{
        font-size: 52px;
    }
    .h_line{
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;

    }
    #downdiv{
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 55vh;
        margin: 8vw;
    }
    #findoutall{
        text-align: center;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
    }
    #findout{
        padding-right: 0;
    }
    #Howwework{
        margin: 0;
        padding: 0;
        
    }
    #findoutpattern,#pattern-right,#pattern-left{
        visibility: hidden;
    }
    .bruh{
        visibility: visible;
        position: absolute;
    }
    #pattern-left-mobilee,#pattern-right-mobilee, #findoutpattern-mobilee{
        visibility: visible;
        position: absolute;
        width: auto;
        height: auto;
    }
    #findoutpattern-mobilee{
        top: 0;
        right: 0;
    }
    #pattern-right-mobilee{
        right: 90px;
        bottom: -175px;
    }
    #pattern-left-mobilee{
        left: 0;
        top: 0;
    }
    #img-intro-mobile{
        visibility: visible;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        height: 95vh;
        margin-bottom: -10px;
    }
    .h_line2{
       width: 33vw;
       margin-bottom: 28px;
    }
    #middledive{
        display: flex;
        flex-direction:   column;
        align-items: center;

    }
    #circles{
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .circ{
        text-align: center;
        margin-bottom: 50px;
    }
    #bottomdiv{
        margin-top: 200px;
        padding: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        
    }
    #bottom-top{
        flex-direction: column;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }
    #downinsure{
        margin: 0;
        margin-bottom: 25px;
    }
    #bottom-down{
        flex-direction: column;
        line-height: 35px;
    }
    .downp{
        margin-bottom: 25px;
    }
    .downlist{
        margin-bottom: 35px;
    }
    .h_line3{
        width: 80VW;
    }
    .icons{
        margin-bottom: 25px;
    
    }
    #icondiv{
        display: flex;
        justify-content: space-between;
        
    }

    #a1,#a2,#a3{
        text-decoration: none;
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
    #navbar{
        display: flex;
        justify-content: space-around;
        background-color: hsl(0, 0%, 98%);
        position: fixed;
        z-index: 2;
        width: 100%;
        
    }
    #title{
        font-size: 1.4REM;
        font-family: 'DM Serif Display', serif;
        font-family: 'Karla', sans-serif;
        font-family: 'Unbounded', cursive;
        margin: 0;
        padding: 0;
        flex-basis: 50%;
        padding-left: 2%;
    }
    #navsel{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        visibility: hidden;
        padding: 0;
        flex-basis: 0%;
    }
    .nav-itm{
        margin:0;
        width: 0;
        height: 0;
        visibility: hidden;
        padding: 0;
    }
    
    .items{
        margin:0;
        width: 0;
        height: 0;
        visibility: hidden;
        padding: 0;
    }
    #hambergur{
        visibility: visible;
        width: 35px;
        height: 38px;
        flex-basis: 50%;
        margin-left: 65%;    
    }
    #closebtn{
        visibility: hidden;
        width: 0px;
        height: 0px;
        flex-basis: 0%;
        margin-left: 0%;    
    }
    #hambergur:hover{
        cursor:pointer;
    }
    #closebtn:hover{
        cursor:pointer;
    }
    #viewplan{
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
    #mobilenav{
        background-color:hsl(256, 26%, 20%);
        opacity: 90%;               
        display: flex;
        flex-direction: column;
        justify-content: first;
        align-items: center;        
        visibility: hidden;
    }
    a{
        visibility: hidden;
    }
    .nav-itmmobile:hover{
        cursor: pointer;
        
    }
    .nav-itmmobile{
        font-size: 1.5rem;
        color: whitesmoke;
    }

    #viewplanmobile{
        width: 70vw;
        height: 50px;
        background-color: hsl(256, 26%, 20%);
        border: 2px solid whitesmoke;
        color:whitesmoke;
    }

    #viewplanmobile:hover{
        background-color: whitesmoke;
        color: hsl(256, 26%, 20%); 
        transform: scale(1.06);
        opacity: 80%;
        cursor:pointer ;
        
    }

    .mobile-nav{
        margin-bottom: 50px;
    }

    #mobilenavpattern{
        width: 100%;
        position: absolute;
        bottom: -25px;
    }
}